<!DOCTYPE html>
<html>
<head>
  <title>Blackjack - Scommessa</title>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('templates/header'); %>
  <div class="container">
    <h1>Blackjack</h1>
    <div class="main-content">
      <p>Inserisci la tua scommessa.</p>
      <form method="post" action="/new-game">
        <div class="input-container">
          <label for="bet">Scommessa</label>
          <input class="game-input" type="number" name="bet" id="bet" min="1" max="100" required>  
        </div>
        <p>Puoi immettere una scommessa massima di 100 euro.</p>
        <button class="button" type="submit">Continua</button>
      </form>
    </div>
  </div>
</body>
</html>
