<!DOCTYPE html>
<html>
<head>
    <title>Blackjack - Crediti</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('templates/header'); %>
    <div class="container">
        <h1>Crediti</h1>
        <div class="main-content">
            <p>Questa versione di Blackjack è stata realizzata da Alessandro Zangrandi e Nicholas Valenzano.</p>
            <p>Librerie e tecnologie utilizzate:</p>
            <ul>
                <li><a href="https://nodejs.org/en/" target="_blank">NodeJS</a></li>
                <li><a href="https://expressjs.com/it/" target="_blank">Express</a></li>
                <li><a href="https://ejs.co/" target="_blank">EJS</a></li>
                <li><a href="https://sweetalert2.github.io/" target="_blank">sweetalert</a></li>
                <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
            </ul>
        </div>
        <form method="get" action="/">
            <button class="button w-100" type="submit">Torna alla pagina principale</button>
        </form>    
    </div>
</body>
</html>