<!DOCTYPE html>
<html>
<head>
  <title>Blackjack</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('templates/header'); %>
  <div class="container">
    <h1>Blackjack</h1>
    <div class="main-content">
      <img src="images/blackjack.jpg" alt="Blackjack">
      <p>Benvenuto in Blackjack! Questa versione del popolare gioco di carte d'azzardo, realizzata in NodeJS, promette grandi ricompense.</p>
      <p>Ciò che ti serve è un pizzico di fortuna ed abilità: se riuscirai a sfruttare al massimo queste due skill, potrai aggiudicarti lauti premi.</p>
      <p>Se sei pronto a giocare, premi il tasto qui sotto. Hai bisogno di conoscere le regole? Abbiamo anche quelle.</p>
      <div class="button-row">
        <button id="newGame" class="button">Nuova partita</button>
        <form method="get" action="/rules">
          <button class="button">Mostra regole</button>
        </form>
      </div>
    </div>
  </div>
  <script src="scripts/sweetalert.js"></script>
  <script>
    // Mostra un avviso prima di iniziare una nuova partita
    const newGame = document.getElementById('newGame');
    newGame.addEventListener('click', () => {
      Swal.fire({
        icon: 'warning',
        title: 'Avviso',
        text: 'Questo gioco nuoce alla salute e può causare dipendenza patologica. Se sei sicuro di voler giocare, premi il tasto OK.',
        showCancelButton: true,
        buttonsStyling: false,
        cancelButtonText: 'Annulla',
        footer: '<a href="https://www.difesa.it/SMD_/approfondimenti/benessere-e-salute/il-disagio-psichico/Pagine/Ludopatia.aspx" target="_blank">Maggiori informazioni</a>',
        customClass: {
          confirmButton: 'button',
          cancelButton: 'button',
        },
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = '/bet';
        }
      });
    });
  </script>
</body>
</html>
