<header id="header" class="blackjack-header">
    <div class="blackjack-header__container">
        <a href="/" class="blackjack-header__logo" title="Blackjack">
            <span>Blackjack</span>
        </a>
        <nav id="header-menu" class="blackjack-header__navigation">
            <div class="blackjack-header__navigation-container">
                <ul id="main-menu" class="blackjack-header__menu">
                    <li class="menu-item"><a href="/rules">Regole</a></li>
                    <li class="menu-item"><a href="/credits">Crediti</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
